@charset "UTF-8";

body {
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    background-image: url(navbar.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}

label {
    color: #fff;
    margin: 5px;
}

.inputbox input {
    background: transparent;
    margin: 5px;
    font-family: 'poppins', sans-serif;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    outline: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    
}

button {
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    margin: 9px;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.voltar {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 0.88rem;
    display: flex;
    text-decoration: none;
    margin: 20px;
    justify-content: center;
}

.voltar a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.voltar a:hover {
    text-decoration: underline;
}


