@charset "UTF-8";
body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-image: url(navbar.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.navbar {
    background-color: transparent;
    overflow: hidden;
    box-shadow: 3px;
}
.navbar a {
    float: left;
    display: block;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: transparent;
    color: white;
    text-decoration: u;
}