body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/navbar.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #333;
    color: white;
    padding: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;

}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.4s ease;
}

nav a:hover {
    background-color: transparent;
    color: #87CEFA;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.contact-section {
    background-color: transparent;
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem, 3rem;
}

.contact-section h1 {
    margin-top: 0;
}

.contact-section p {
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin-bottom: 10px 0;
}

#contact-form input, #contact-form textarea {
    position: relative;
    margin: 10px 0;
    max-width: 310px;
    border-color: transparent;
    background-color: transparent;
    backdrop-filter: blur(25px);
    border-bottom: 2px solid #000000;
    outline: none;
    transition: all 0.5s ease-in-out;
}

#contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid #ddd;
    
}

#contact-form button[type="submit"]:hover {
    background-color: #87CEFA;border: 1px solid #ffffff;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 10px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .destaque {
        font-size: 4vw;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .hero #bhero {
        width: 100%;
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .destaque {
        font-size: 5vw;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .jsbutton {
        font-size: 14px;
        height: auto;
        padding: 10px;
    }

    #checkout {
        width: 100%;
        font-size: 0.9rem;
    }

    .product img {
        height: 120px;
    }

    footer {
        padding: 10px;
        font-size: 0.85rem;
    }
}

.swal-modal {
    width: 80% !important;      /* Usa porcentagem para se adaptar */
    max-width: 400px;           /* Limita a largura máxima */
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .swal-modal {
      width: 90% !important;    /* Para telas muito pequenas */
    padding: 15px;
    }
}
