@charset "UTF-8";
button:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.voltar {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 0.88rem;
    margin: 25px 0 10px;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.voltar a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.voltar a:hover {
    text-decoration: underline;
}

